.counterCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count {
  color: var(--primary-color);
  color: #ec7754;
  /* color: #e4656b; */
  font-size: 34px;
  font-weight: 700;
}

.text {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .count {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
}
