.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 68px 0 32px 0;
}

.contentContainer {
  width: 60%;
  gap: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: repeat(5, 1fr); */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 300px)); */
}

@media only screen and (max-width: 1250px) {
  .contentContainer {
    width: 90%;
  }
}
@media only screen and (min-width: 1024px) {
  .contentContainer {
    max-width: 1280px;
  }
}

@media (max-width: 576px) {
  .contentContainer {
    flex-direction: column;
  }
}

/* Show 2 items per row on medium screens */
@media (min-width: 577px) and (max-width: 992px) {
  .contentContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
